body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: "bangers";*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #7868a9;
    background-color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #1e2a42;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #1a2844;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #84a0b7;
	}
}
.navbar {
    border-radius: 0px;
}
.dropdown-menu { 
	background-color: #3d547b;
}
.dropdown-menu li>a:hover {
	background-color: #84a0b7;
	color: #1a2844;
}
.navbar-default {
    background-color: #3d547b;
    border-color: #47547b;
}
.navbar-default .navbar-toggle {
		border-color: #1a2844;
		box-shadow: 1px 1px 1px #ffffff10;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #4a6694;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #84a0b7;
}
.navbar-default .navbar-brand , .navbar-default .navbar-brand:hover{
    color: #1a2844;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.13), -1px -1px 0 rgba(43,43,43,0.7);
	width: 250px;
	text-align: center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #201735;
    background-color: #2f4261;
    box-shadow: 1px 1px 1px #0000003d inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.11), -1px -1px 0 rgba(43,43,43,0.7);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #201735;
    background-color: #2f4261;
    box-shadow: 1px 1px 1px #0000003d inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.11), -1px -1px 0 rgba(43,43,43,0.7);
}
.navbar-default .navbar-nav>li>a {
    color: #1e2a42;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.09), -1px -1px 0 rgba(43, 43, 43, 0);
}
.navbar-nav>li>a {
    color: #1e2a42;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.09), -1px -1px 0 rgba(43, 43, 43, 0);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1a2844;
}
.dropdown-menu .divider {
    background-color: #84a0b7;
}
.label-primary {
    background-color: #84a0b7;
}
.label-info {
    background-color: #84a0b7;
}
.label {
    color: #4a4b52;
}
.label,.glyphicon { margin-right:5px; }

.fa,.fas {
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
