
{% block header_html %}
<header style="">
    <nav class="navbar navbar-default navbar-expand navbar-dark" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->

		<a class="navbar-brand" href="/">Field Technician</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item {% if active=='home' %}active{%endif %}"><a class="nav-link" href="/"><span class="glyphicon glyphicon-home"></span>Dashboard</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item {% if active=='calendar' %}active{%endif %}"><a class="nav-link"  href="calendar" ><span class="glyphicon glyphicon-calendar"></span>Calendar</a></li>
                <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Tools
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				  <a class="dropdown-item" href="#">Create Project</a>
				  <a class="dropdown-item" href="#">Remove Project</a>
				  <a class="dropdown-item" href="#">Update Project</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item"  href="#">Customers</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item {% if active=='materials' %}active{%endif %}" id="materials"  href="materials">Materials</a>
				</div>
			  </li>
			  <li class="nav-item dropdown" style="min-width:300px">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Search
				</a>
					<form class="dropdown-menu p-4" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" />
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button">
								Go!</button>
						</span>
					</div>
					</form>
			</li>
                {% endif %}
            </ul>
			{% if current_user.is_authenticated %}
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span
						class="glyphicon glyphicon-comment"></span>Chats <span class="badge badge-secondary">42</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#"><span class="badge badge-warning">7:00 AM</span>Hi :)</a>
						<a class="dropdown-item" href="#"><span class="badge badge-warning">8:00 AM</span>How are you?</a>
						<a class="dropdown-item" href="#"><span class="badge badge-warning">9:00 AM</span>What are you doing?</a>
						<div class="divider"></div>
						<a class="dropdown-item" href="#" class="text-center">View All</a>
					</div>
                </li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown"><span
						class="glyphicon glyphicon-envelope"></span>Inbox <span class="badge badge-info">32</span>
					</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><span class="badge badge-warning">4:00 AM</span>Favourites Snippet</a>
                        <a class="dropdown-item" href="#"><span class="badge basge-warning">4:30 AM</span>Email marketing</a>
                        <a class="dropdown-item" href="#"><span class="badge badge-warning">5:00 AM</span>Subscriber focused email design</a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="#" class="text-center">View All</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"  href="#" data-toggle="dropdown"><span
						class="glyphicon glyphicon-user"></span>{{ current_user.username }} <b class="caret"></b>
					</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span>Profile</a>
                        <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a>
                        <div class="divider"></div>
                        <a class="dropdown-item" href="/logout"><span class="glyphicon glyphicon-off"></span>Logout</a>
                    </div>
                </li>
            </ul>
			{% else %}
			<ul class="nav navbar-nav bd-navbar-nav flex-row ml-auto">
                <li><a class="nav-link" href="/login" id="navSignIn" >Log In</a></li>
				<li><a class="nav-link" href="/register" id="navReg" >Sign Up</a></li>
            </ul>
			{% endif %}
        </div>
        <!-- /.navbar-collapse -->
    </nav>
          {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
       {% for category, message in messages %}
		<div class="alert alert-{{ category}} alert-dismisable" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endfor %}
      {% endif %}
      {% endwith %}
<script>
 $(document).ready(function () {
	$("#{{active}}").parents('li').addClass("active");
});
</script>
</header>
{% endblock %}

