{% extends "base.html" %}
{% block body_html %}
{{ super() }}
<div class="container mx-auto">

	<form>
		<div class="d-flex mt-5">
			<div class="d-flex flex-column p-2" style="flex:1">
				<div class="flex-row">
						<label class="pr-2 col-form-label" for="nameControlSet">Title: </label>
						<input class="form-control" type="text" name="name" placeholder="Project Title" value="{{project.pro_name if project != None}}">
				</div>
				<div class="flex-row">
						<label class="pr-1 col-form-label" for="codeControlSet">Project Code: </label>
						<input class="form-control" type="text" name="code" placeholder="Job Code" value="{{project.code if project != None}}">
				</div>
				<div class="flex-row h-100" style="flex-grow:1">
					<div class="d-flex flex-column h-100" style="flex-grow:1">
						<label class="pr-1 col-form-label" for="descControlSet">Description: </label>

						<textarea class="form-control h-100" type="text" name="description" placeholder="Brief Description of Project" >{{project.description if project != None}}</textarea>
				</div></div>
			</div>
			<div class="d-flex flex-column p-2">

				<div class="flex-row p-1">
					<div class="card border-info" style="width:18rem; height:100%;">
						<div class="card-header" id="locCardHeader">Point of Contact</div>
						<div class="card-body text-info p-0 pt-2 px-3">
						<div class="card-text" id="locCardText">
						{% if project.poc !=None %}
								<div class="row">
								<div class="col-4">
								<label>Name:</label>
								</div>
								<div class="col-6">
								<label id="pocCardName">{{ project.poc.contact_name }}</label>
								</div>
								</div>
								<div class="row">
								<div class="col-4">
								<label>Email:</label>
								</div>
								<div class="col-6">
								<label id="pocCardEmail"></label>
								</div>
								</div>
								<div class="row">
								<div class="col-4">
								<label>Phone:</label>
								</div>
								<div class="col-6">
								<label id="pocCardPhone"></label>
								</div>
								</div>
								<div class="row">
								<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="pocCardEdit" onclick="modalMod('poc','{{ project.poc.c_id }}' )">Edit</button>
								</div>
							{% else %}
								<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="pocCardAdd" onclick="modalMod('pocNew')">Add</button>
							{% endif %}
							</div>
						</div>
					</div>
					<script>
					</script>
				</div>

			<div class="flex-row p-1">
				<div class="card border-info" style="width:18rem; height:100%;">
					<div class="card-header" id="locCardHeader">Address</div>
					<div class="card-body text-info p-0 pt-2 px-3">
						<div class="card-text" id="locCardText">
						{% if project.location != None %}
								<div class="row">
								<div class="col-4">
								<label>Street:</label>
								</div>
								<div class="col-6">
								<label id="locCardStreet">{{ project.location.street }}</label>
								</div>
								</div>
								<div class="row">
								<div class="col-4">
								<label>City:</label>
								</div>
								<div class="col-6">
								<label id="locCardCity">{{ project.location.city }}</label>
								</div>
								</div>
								<div class="row">
								<div class="col-4">
								<label>State:</label>
								</div>
								<div class="col-6">
								<label id="locCardState">{{ project.location.state }}</label>
								</div>
								</div>
								<div class="row">
								<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="locCardEdit" onclick="modalMod('loc','{{ project.location.a_id }}')">Edit</button>
								</div>
							{% else %}
								<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="locCardAdd" onclick="modalMod('locNew')">Add</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</form>
	<div class="d-flex flex-row p-2">
		<div class="card border-info w-100">
			<div class="card-header">Materials</div>
			<div class="card-body text-info">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Model</th>
							<th scope="col">Type</th>
							<th scope="col">S/N</th>
						</tr>
					</thead>
					<tbody>
						{% for m in materials %}
						<tr>
							<th scope="row">1</th>
							<td>{{ m.mat_name }}</td>
							<td>{{ m.mat_model }}</td>
							<td>{{ m.type.name }}</td>
							<td>{{ m.sn }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row">
					<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="materialAdd">Add</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="projectSave">Save</button>
	</div>
</div>
<div class="modal fade" id="ContactAdd">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle">Edit</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>
<script>
function modalMod(p, id=null){
	innerHTML = `
		<div class="col">
			<div class="row">
				<div class="col">
					<label class="col-form-label" id="ModalLabel1">Input1: </label>
					<input class="form-control" type="text" id="ModalInput1" >
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="col-form-label" id="ModalLabel2">Input2: </label>
					<input class="form-control" type="text" id="ModalInput2" >	
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label class="col-form-label" id="ModalLabel3">Input3: </label>
					<input class="form-control" type="text" id="ModalInput3" >
				</div>
			</div>
			<div class="row">
				<button class="m-2 btn btn-outline-info ml-auto" href="#" type="button" name="ModalSave">Save</button>
			</div>
		</div>
		`;
	$('#ContactAdd .modal-body').html(innerHTML);
	switch(p){
	case 'locNew':
		break;
	case 'pocNew':
		break;
	case 'loc':
		$.getJSON('/api/address/'+id,
				  function(data){
						var items = {};
						$.each(JSON.parse(data),
								function(k, v){
									items[k]=v;
									$("#modalTitle").html("Edit Address");
									$("#ModalLabel1").html("Street: ");
									$("#ModalInput1").val(items['street']);
									$("#ModalLabel2").html("City: ");
									$("#ModalInput2").val(items['city']);
									$("#ModalLabel3").html("State: ");
									$("#ModalInput3").attr({'type': 'email'});
									$("#ModalInput3").val(items['state']);
								});
				  })
		break;
	case 'poc':
		$.getJSON('/api/contact/'+id,
				  function(data){
						var items = {};
						$.each(JSON.parse(data),
								function(k, v){
									items[k]=v;
									$("#modalTitle").html("Edit "+ items['contact_name']);
									$("#ModalLabel1").html("Name: ");
									$("#ModalInput1").val(items['contact_name']);
									$("#ModalLabel2").html("Phone: ");
									$("#ModalInput2").val(items['phone']);
									$("#ModalLabel3").html("Email: ");
									$("#ModalInput3").attr({'type':'email'});
									$("#ModalInput3").val(items['email']);
								});
				  })
		break;
		
	}
	$('#ContactAdd').modal().toggle();
};

$(function(){
$('#ContactAdd').on('click', '#ModalSave', function (){console.log("saving...")})
});
</script>
{% endblock %}
