{% extends "base.html" %}
{% block body_html %}
{{ super() }}
<div class="container container-fluid mx-auto col-6" style="height:100vh;">
	<div class="row h-100 justify-content-center align-items-center">
	<form action="" method=post>
		<h2>Sign up for Field Technician </h2>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="fnameControlSet">First Name: </label>
				<input type="text" id="fname" name="fname" class="form-control"
				placeholder="Enter First Name" value="{{ request.form.fname }}"
				required>
			</div>

			<div class="form-group col-md-8">
				<label for="lnameControlSet">Last Name: </label>
				<input type="text" id="lname" name="lname" class="form-control"
				placeholder="Enter Last Name" value="{{ request.form.lname }}"
				required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-8">
				<label for="emailControlSet">Email: </label>
				<input type="email" id="email" name="email" class="form-control"
				placeholder="Email: jon.doe@example.com" value="{{ request.form.email }}"
				required>
			</div>
			<div class="form-group col-md-4">
				<label for="phoneControlSet">Phone: </label>
				<input type="text" id="phone" name="phone" class="form-control"
				placeholder="Enter Phone Number" value="{{ request.form.phone }}"
				required>
			</div>
		</div>
				<div class="form-row">
			<div class="form-group col-md-6">
				<label for="usernameControlSet">Username: </label>
				<input type="text" id="username" name="username" class="form-control"
				placeholder="Enter Username" value="{{ request.form.username }}"
				required>
			</div>

			<div class="form-group col-md-6">
				<label for="passwordControlSet">Password: </label>
				<input type="password" id="password" name="password" class="form-control"
				placeholder="Enter Password" value="{{ request.form.password }}"
				required>
			</div>
		</div>
		<div class="form-group pull-right">
			<button type="submit" class="btn btn-success">Signup</button>
		</div>
	</form>
	</div>
</div>
{% endblock %}